/*--------------------------------------------Title*/


a.title-link {
    text-decoration: none;
    position: relative;
    z-index: 1;
    color:#05f411
}

a.title-link:hover {
    color: #00ccff;
    transition: 0.5s;
}


/*--------------------------------------------Nav*/

.navbar-nav .nav-link {
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.5s;
    min-width: 150px;
    background-color: #00ccff;
}

.navbar-nav .nav-link:hover {
    background-color: #05f411;
}

.navbar-nav .nav-item {
    margin: 0 5px;
    z-index: 1;
}

@media (max-width: 768px) {
    .navbar-nav .nav-link {
        width: 80%;
        max-width: 300px;
        text-align: center;
    }
}




/*--------------------------------------------Background Image */
.background-container img {
    position: absolute; /* Change fixed to absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

.background {
    position: relative;
    height: 100vh;
    background: no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

section h2 {
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
    color:burlywood;
    text-transform: uppercase;
}
/*--------------------------------------------Flip Cards*/


.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    border: none; 
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 15px;
}

.card-front {
    background-color: #bbb;
}

.card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

/*--------------------------------------------Footer*/
.footer {
    height: 125px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* Ensure the footer is above other elements */
    background-color: rgba(240, 240, 240, 0.8);
}



.footer-left,
.footer-middle,
.footer-right {
    flex: 1;
    text-align: center;
}

.footer-left iframe {
    width: 100%; /* Adjust width as needed */
    height: 120px; /* Adjust height as needed */
}

.signup-link,
.social-media-link {
    text-decoration: none;
    color: #333;
    margin: 0 10px; /* Add space between the icons */
    font-size: 24px; /* Increase the size of the icons */
}

.signup-link:hover,
.social-media-link:hover {
    color: #007bff; /* Change color on hover as needed */
}


.signup-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-media-link i {
    margin: 0 10px; /* Additional spacing between the icons */
    font-size: 30px; /* Increase the icon size */
}