/*--------------------------------------------Header*/


.title {
    font-size:60px;
    text-decoration:none;
    margin: 0;
    margin-left: 20px;
    color:rgb(58, 52, 54)
    
}

.title a {
    text-decoration:none;
}


#peak-mountain{
    max-width: 100%;
    height: auto;
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Ensure the height is the same as the width */
    border-radius: 50%; /* Make the image circular */
    overflow: hidden; /* Ensure circularity is applied */
}

.title-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-links .btn {
    margin: 5px;
}



/*--------------------------------------------Footer*/

.maps{
    width:250px;
    height:250;
}